
html {
    scroll-padding-top: 67px;
}

.imgSocial{
    width: 1.6rem;
}

.img{
    width: 25%;
}

@media (max-width: 767px) {
    .table-mobile{
        display:none
    }
    iframe{
        width: 280px
    }

    .img{
        width: 50%
    }
}

@media (max-width: 319px) {
    .table-mobile{
        display:none
    }
    iframe{
        width: 220px
    }
}

*{
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
    .div-nav{
        display:none
    }
}

.animation--hide{
    overflow:hidden;
}

.footer__title{
    text-decoration: none;
    font-family: $headings-font-family;
    color: white
}

.footer__title:hover{
    color: white
}

.footer__text{
    text-decoration: none;
    font-family: $font-family-base;
    color: gray;
    text-transform: uppercase;
    display: block;
}

.footer__text:hover{
    color: white!important
}

@media (max-width: 370px) {
    .list-group-item{
        border: none;
    }
    .list-group {
        border: none;
    }
}

@media (max-width: 414px) {
    .home__text{
        text-align: center;
    }
    
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#boton-carrito {
    border: none;
    color: rgb(49, 110, 190);
    font-size: 40px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

select{
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 100%;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

@media (min-width:768px){

    .modal-carrito {
        position: relative;
        background-color: white;
        min-width: 50%;
        padding: 20px;
        margin-top: -100%;
        transition: all .5s;
    }
}

@media (max-width:768px){
.modal-active{
    opacity: 1;
    visibility: visible;
    z-index: 5;
    margin-top: 10vh;
    max-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(49, 110, 190);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(49, 110, 190);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}
.card .card-image .card-title{
    color :rgb(0, 0, 0);
    position:unset;
    cursor:pointer;
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(49, 110, 190);
}

.boton-eliminar {
    background-color: white;
    color: rgb(49, 110, 190);
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}